.single-title{
font-family: 'SourceHanSans';
font-weight: 100;
}
.header-title{
font-family: 'SourceHanSans';
font-weight: 700;
}
.single-content h1,h2,h3,h4{
font-family: 'SourceHanSans';
font-weight: 100;
}
.intro h1{
font-family: 'SourceHanSans';
font-weight: 100;
}
blockquote{
font-family: 'SourceHanSans';
font-weight: 100;
}